## Load the Combined Dataset

In [4]:
import pandas as pd
import numpy as np
from datetime import datetime
import os

# Set up path for processed data
processed_data_dir = '../processed_data'

# Load the combined dataset
file_path = os.path.join(processed_data_dir, 'combined_data_final_imputed.csv')
df = pd.read_csv(file_path, parse_dates=['Datum'])

print(f"Combined dataset loaded successfully")
print(f"Shape: {df.shape}")
print(f"Date range: {df['Datum'].min()} to {df['Datum'].max()}")
print(f"\nFirst few rows:")
print(df.head())
print(f"\nDataset info:")
print(df.info())

Combined dataset loaded successfully
Shape: (11211, 48)
Date range: 2013-07-01 00:00:00 to 2019-07-30 00:00:00

First few rows:
       Datum         id  Warengruppe      Umsatz  KielerWoche  Bewoelkung  \
0 2013-07-01  1307011.0          1.0  148.828353          0.0         6.0
1 2013-07-01  1307013.0          3.0  201.198426          0.0         6.0
2 2013-07-01  1307014.0          4.0   65.890169          0.0         6.0
3 2013-07-01  1307015.0          5.0  317.475875          0.0         6.0
4 2013-07-01  1307012.0          2.0  535.856285          0.0         6.0

   Temperatur  Windgeschwindigkeit  Wettercode  Niederschlag  ...  W_Cat_4  \
0     17.8375                 15.0        20.0           0.3  ...        1
1     17.8375                 15.0        20.0           0.3  ...        1
2     17.8375                 15.0        20.0           0.3  ...        1
3     17.8375                 15.0        20.0           0.3  ...        1
4     17.8375                 15.0        20.0           0.3  ...        1

   W_Cat_5  W_Cat_6  W_Cat_7  W_Cat_8  W_Cat_9  W_Cat_10  Temperatur_kalt  \
0        0        0        0        0        0         0                1
1        0        0        0        0        0         0                1
2        0        0        0        0        0         0                1
3        0        0        0        0        0         0                1
4        0        0        0        0        0         0                1

   Temperatur_normal  Temperatur_warm
0                  0                0
1                  0                0
2                  0                0
3                  0                0
4                  0                0

[5 rows x 48 columns]

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11211 entries, 0 to 11210
Data columns (total 48 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Datum                      11211 non-null  datetime64[ns]
 1   id                         11164 non-null  float64
 2   Warengruppe                11164 non-null  float64
 3   Umsatz                     9334 non-null   float64
 4   KielerWoche                11211 non-null  float64
 5   Bewoelkung                 11211 non-null  float64
 6   Temperatur                 11211 non-null  float64
 7   Windgeschwindigkeit        11211 non-null  float64
 8   Wettercode                 11211 non-null  float64
 9   Niederschlag               11211 non-null  float64
 10  is_holiday                 11211 non-null  int64
 11  Temperatur_imputed         11211 non-null  int64
 12  Bewoelkung_imputed         11211 non-null  int64
 13  Windgeschw_imputed         11211 non-null  int64
 14  Niederschlag_imputed       11211 non-null  int64
 15  Wettercode_imputed         11211 non-null  int64
 16  Warengruppe_1.0            11211 non-null  int64
 17  Warengruppe_2.0            11211 non-null  int64
 18  Warengruppe_3.0            11211 non-null  int64
 19  Warengruppe_4.0            11211 non-null  int64
 20  Warengruppe_5.0            11211 non-null  int64
 21  Warengruppe_6.0            11211 non-null  int64
 22  Warengruppe_nan            11211 non-null  int64
 23  Weekday_Monday             11211 non-null  int64
 24  Weekday_Tuesday            11211 non-null  int64
 25  Weekday_Wednesday          11211 non-null  int64
 26  Weekday_Thursday           11211 non-null  int64
 27  Weekday_Friday             11211 non-null  int64
 28  Weekday_Saturday           11211 non-null  int64
 29  Weekday_Sunday             11211 non-null  int64
 30  Temperatur_7day_rolling    11211 non-null  float64
 31  Niederschlag_trocken       11211 non-null  int64
 32  Niederschlag_nass          11211 non-null  int64
 33  Niederschlag_7day_rolling  11211 non-null  float64
 34  W_Cat_-1                   11211 non-null  int64
 35  W_Cat_1                    11211 non-null  int64
 36  W_Cat_2                    11211 non-null  int64
 37  W_Cat_3                    11211 non-null  int64
 38  W_Cat_4                    11211 non-null  int64
 39  W_Cat_5                    11211 non-null  int64
 40  W_Cat_6                    11211 non-null  int64
 41  W_Cat_7                    11211 non-null  int64
 42  W_Cat_8                    11211 non-null  int64
 43  W_Cat_9                    11211 non-null  int64
 44  W_Cat_10                   11211 non-null  int64
 45  Temperatur_kalt            11211 non-null  int64
 46  Temperatur_normal          11211 non-null  int64
 47  Temperatur_warm            11211 non-null  int64
dtypes: datetime64[ns](1), float64(11), int64(36)
memory usage: 4.1 MB
None

## Define Date Ranges and Split the Dataset

In [5]:
# Define the date ranges for the splits
train_start = pd.Timestamp('2013-07-01')
train_end = pd.Timestamp('2017-07-31')

val_start = pd.Timestamp('2017-08-01')
val_end = pd.Timestamp('2018-07-31')

test_start = pd.Timestamp('2018-08-01')
test_end = pd.Timestamp('2019-07-31')

# Split the dataset based on date ranges
df_train = df[(df['Datum'] >= train_start) & (df['Datum'] <= train_end)].copy()
df_validation = df[(df['Datum'] >= val_start) & (df['Datum'] <= val_end)].copy()
df_test = df[(df['Datum'] >= test_start) & (df['Datum'] <= test_end)].copy()

print("Dataset splits created successfully!\n")
print(f"Training set: {train_start.date()} to {train_end.date()}")
print(f"  Rows: {len(df_train)}")
print(f"\nValidation set: {val_start.date()} to {val_end.date()}")
print(f"  Rows: {len(df_validation)}")
print(f"\nTest set: {test_start.date()} to {test_end.date()}")
print(f"  Rows: {len(df_test)}")
print(f"\nTotal rows in all splits: {len(df_train) + len(df_validation) + len(df_test)}")

Dataset splits created successfully!

Training set: 2013-07-01 to 2017-07-31
  Rows: 7523

Validation set: 2017-08-01 to 2018-07-31
  Rows: 1849

Test set: 2018-08-01 to 2019-07-31
  Rows: 1839

Total rows in all splits: 11211

## Verify Data Integrity

In [6]:
# Verify row counts and IDs for each split
print("=" * 60)
print("DATA INTEGRITY VERIFICATION")
print("=" * 60)

# Check for missing values
print("\n1. Missing Values Analysis:")
print("-" * 60)

for split_name, split_df in [('Training', df_train), ('Validation', df_validation), ('Test', df_test)]:
    print(f"\n{split_name} Set:")
    rows_with_id = split_df['id'].notna().sum()
    rows_with_umsatz = split_df['Umsatz'].notna().sum()
    print(f"  Total rows: {len(split_df)}")
    print(f"  Rows with id: {rows_with_id}")
    print(f"  Rows with Umsatz: {rows_with_umsatz}")
    print(f"  Rows with both id and Umsatz: {sum((split_df['id'].notna()) & (split_df['Umsatz'].notna()))}")

# Check unique IDs
print("\n2. Unique IDs Analysis:")
print("-" * 60)

for split_name, split_df in [('Training', df_train), ('Validation', df_validation), ('Test', df_test)]:
    unique_ids = split_df['id'].dropna().unique()
    print(f"\n{split_name} Set:")
    print(f"  Unique IDs: {len(unique_ids)}")
    print(f"  ID range: {split_df['id'].min():.0f} to {split_df['id'].max():.0f}")

# Check for no overlap between splits
print("\n3. Date Range Verification:")
print("-" * 60)
print(f"Training: {df_train['Datum'].min().date()} to {df_train['Datum'].max().date()}")
print(f"Validation: {df_validation['Datum'].min().date()} to {df_validation['Datum'].max().date()}")
print(f"Test: {df_test['Datum'].min().date()} to {df_test['Datum'].max().date()}")

# Verify no date overlaps
if df_train['Datum'].max() < df_validation['Datum'].min():
    print("\n✓ No overlap between Training and Validation")
else:
    print("\n✗ WARNING: Overlap between Training and Validation!")

if df_validation['Datum'].max() < df_test['Datum'].min():
    print("✓ No overlap between Validation and Test")
else:
    print("✗ WARNING: Overlap between Validation and Test!")

============================================================
DATA INTEGRITY VERIFICATION
============================================================

1. Missing Values Analysis:
------------------------------------------------------------

Training Set:
  Total rows: 7523
  Rows with id: 7493
  Rows with Umsatz: 7493
  Rows with both id and Umsatz: 7493

Validation Set:
  Total rows: 1849
  Rows with id: 1841
  Rows with Umsatz: 1841
  Rows with both id and Umsatz: 1841

Test Set:
  Total rows: 1839
  Rows with id: 1830
  Rows with Umsatz: 0
  Rows with both id and Umsatz: 0

2. Unique IDs Analysis:
------------------------------------------------------------

Training Set:
  Unique IDs: 7493
  ID range: 1307011 to 1707315

Validation Set:
  Unique IDs: 1841
  ID range: 1708011 to 1807315

Test Set:
  Unique IDs: 1830
  ID range: 1808011 to 1907305

3. Date Range Verification:
------------------------------------------------------------
Training: 2013-07-01 to 2017-07-31
Validation: 2017-08-01 to 2018-07-31
Test: 2018-08-01 to 2019-07-30

✓ No overlap between Training and Validation
✓ No overlap between Validation and Test

In [ ]:
# dropping the lines without 'id' or 'Umsatz' for saving the splits

## Save the Split Datasets

In [7]:
# Define output file names with processed_data directory
output_train = os.path.join(processed_data_dir, 'train_set_imputed.csv')
output_val = os.path.join(processed_data_dir, 'validation_set_imputed.csv')
output_test = os.path.join(processed_data_dir, 'test_set_imputed.csv')

# Create processed_data directory if it doesn't exist
os.makedirs(processed_data_dir, exist_ok=True)

# Save the splits to CSV files
df_train.to_csv(output_train, index=False)
df_validation.to_csv(output_val, index=False)
df_test.to_csv(output_test, index=False)

print("Datasets saved successfully!")
print(f"\n✓ {output_train} ({len(df_train)} rows)")
print(f"✓ {output_val} ({len(df_validation)} rows)")
print(f"✓ {output_test} ({len(df_test)} rows)")
print(f"\nTotal: {len(df_train) + len(df_validation) + len(df_test)} rows saved")

Datasets saved successfully!

✓ ../processed_data/train_set_imputed.csv (7523 rows)
✓ ../processed_data/validation_set_imputed.csv (1849 rows)
✓ ../processed_data/test_set_imputed.csv (1839 rows)

Total: 11211 rows saved

## Summary Statistics for Each Split

In [8]:
# Display summary statistics for each split
print("=" * 80)
print("SPLIT SUMMARY STATISTICS")
print("=" * 80)

for split_name, split_df in [('Training', df_train), ('Validation', df_validation), ('Test', df_test)]:
    print(f"\n{split_name} Set (2013-07-01 to 2017-07-31):" if split_name == 'Training'
          else f"\n{split_name} Set (2017-08-01 to 2018-07-31):" if split_name == 'Validation'
          else f"\n{split_name} Set (2018-08-01 to 2019-07-31):")
    print("-" * 80)
    print(f"Rows with sales data (Umsatz): {split_df['Umsatz'].notna().sum()}")
    print(f"Rows with weather data: {split_df['Temperatur'].notna().sum()}")
    print(f"Unique product groups (Warengruppe): {split_df['Warengruppe'].nunique()}")
    print(f"\nUmsatz statistics:")
    print(split_df['Umsatz'].describe())
    print(f"\nTemperatur statistics:")
    print(split_df['Temperatur'].describe())
    print(f"\nHolidays in this period: {split_df['is_holiday'].sum():.0f}")

================================================================================
SPLIT SUMMARY STATISTICS
================================================================================

Training Set (2013-07-01 to 2017-07-31):
--------------------------------------------------------------------------------
Rows with sales data (Umsatz): 7493
Rows with weather data: 7523
Unique product groups (Warengruppe): 6

Umsatz statistics:
count    7493.000000
mean      209.338996
std       147.769192
min        12.937383
25%        96.774910
50%       162.622977
75%       283.910218
max      1879.461831
Name: Umsatz, dtype: float64

Temperatur statistics:
count    7523.000000
mean       12.067209
std         7.019900
min        -8.475000
25%         6.625000
50%        11.500000
75%        17.775000
max        31.437500
Name: Temperatur, dtype: float64

Holidays in this period: 205

Validation Set (2017-08-01 to 2018-07-31):
--------------------------------------------------------------------------------
Rows with sales data (Umsatz): 1841
Rows with weather data: 1849
Unique product groups (Warengruppe): 6

Umsatz statistics:
count    1841.000000
mean      196.207759
std       130.111002
min         7.051201
25%        97.906026
50%       158.940547
75%       262.350248
max      1432.422347
Name: Umsatz, dtype: float64

Temperatur statistics:
count    1849.000000
mean       11.817715
std         7.989024
min        -6.137500
25%         4.700000
50%        12.225000
75%        18.637500
max        31.287500
Name: Temperatur, dtype: float64

Holidays in this period: 42

Test Set (2018-08-01 to 2019-07-31):
--------------------------------------------------------------------------------
Rows with sales data (Umsatz): 0
Rows with weather data: 1839
Unique product groups (Warengruppe): 6

Umsatz statistics:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Umsatz, dtype: float64

Temperatur statistics:
count    1839.000000
mean       12.131737
std         7.048954
min        -4.812500
25%         6.675000
50%        11.425000
75%        17.337500
max        32.671428
Name: Temperatur, dtype: float64

Holidays in this period: 46