In [4]:
# Import necessary libraries
import pandas as pd

# Load the processed data CSV
df = pd.read_csv('../processed_data/processed_data.csv')

# Display basic information about the dataset
print(f"Dataset shape: {df.shape}")
print(f"Number of rows: {len(df)}")
print(f"Number of columns: {len(df.columns)}")

print("\n" + "="*50)
print("FIRST 5 ROWS:")
print("="*50)
print(df.head())

print("\n" + "="*50)
print("LAST 5 ROWS:")
print("="*50)
print(df.tail())

print("\n" + "="*50)
print("Summary:")
print("="*50)
print(df.info())

Dataset shape: (10119, 9)
Number of rows: 10119
Number of columns: 9

==================================================
FIRST 5 ROWS:
==================================================
   id       Datum  Warengruppe  Umsatz  Bewoelkung  Temperatur  \
0 NaN  2012-01-01          NaN     NaN         8.0      9.8250
1 NaN  2012-01-02          NaN     NaN         7.0      7.4375
2 NaN  2012-01-03          NaN     NaN         8.0      5.5375
3 NaN  2012-01-04          NaN     NaN         4.0      5.6875
4 NaN  2012-01-05          NaN     NaN         6.0      5.3000

   Windgeschwindigkeit  Wettercode  KielerWoche
0                 14.0        58.0          NaN
1                 12.0         NaN          NaN
2                 18.0        63.0          NaN
3                 19.0        80.0          NaN
4                 23.0        80.0          NaN

==================================================
LAST 5 ROWS:
==================================================
       id       Datum  Warengruppe  Umsatz  Bewoelkung  Temperatur  \
10114 NaN  2019-07-28          NaN     NaN         3.0     23.3500
10115 NaN  2019-07-29          NaN     NaN         6.0     25.2500
10116 NaN  2019-07-30          NaN     NaN         7.0     20.7375
10117 NaN  2019-07-31          NaN     NaN         6.0     20.4500
10118 NaN  2019-08-01          NaN     NaN         5.0     21.0625

       Windgeschwindigkeit  Wettercode  KielerWoche
10114                 14.0         5.0          NaN
10115                  7.0        61.0          NaN
10116                  8.0        61.0          NaN
10117                  7.0        61.0          NaN
10118                  9.0        61.0          NaN

==================================================
Summary:
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10119 entries, 0 to 10118
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   9334 non-null   float64
 1   Datum                10119 non-null  object
 2   Warengruppe          9334 non-null   float64
 3   Umsatz               9334 non-null   float64
 4   Bewoelkung           10048 non-null  float64
 5   Temperatur           10103 non-null  float64
 6   Windgeschwindigkeit  10103 non-null  float64
 7   Wettercode           7581 non-null   float64
 8   KielerWoche          250 non-null    float64
dtypes: float64(8), object(1)
memory usage: 711.6+ KB
None

In [5]:
# Summary of numerical columns
print("="*60)
print("NUMERICAL COLUMNS SUMMARY (df.describe()):")
print("="*60)
print(df.describe())

print("\n" + "="*60)
print("NaN VALUES CHECK:")
print("="*60)
print("Total NaN values per column:")
print(df.isnull().sum())

print("\n" + "="*30)
print("Columns with NaN values:")
print("="*30)
nan_columns = df.columns[df.isnull().any()].tolist()
if nan_columns:
    for col in nan_columns:
        nan_count = df[col].isnull().sum()
        nan_percentage = (nan_count / len(df)) * 100
        print(f"{col}: {nan_count} NaN values ({nan_percentage:.2f}%)")
else:
    print("No columns have NaN values!")

print("\n" + "="*30)
print("Data types of all columns:")
print("="*30)
print(df.dtypes)

============================================================
NUMERICAL COLUMNS SUMMARY (df.describe()):
============================================================
                 id  Warengruppe       Umsatz    Bewoelkung    Temperatur  \
count  9.334000e+03  9334.000000  9334.000000  10048.000000  10103.000000
mean   1.559311e+06     3.088172   206.749044      4.748507     12.014560
std    1.512503e+05     1.489002   144.545189      2.628285      7.212466
min    1.307011e+06     1.000000     7.051201      0.000000    -10.250000
25%    1.410123e+06     2.000000    96.897441      3.000000      6.250000
50%    1.601102e+06     3.000000   161.900831      6.000000     11.625000
75%    1.704223e+06     4.000000   280.644663      7.000000     17.875000
max    1.807315e+06     6.000000  1879.461831      8.000000     32.671428

       Windgeschwindigkeit   Wettercode  KielerWoche
count         10103.000000  7581.000000        250.0
mean             11.026527    37.072022          1.0
std               4.131774    27.207627          0.0
min               3.000000     0.000000          1.0
25%               8.000000    10.000000          1.0
50%              10.000000    28.000000          1.0
75%              13.000000    61.000000          1.0
max              35.000000    95.000000          1.0

============================================================
NaN VALUES CHECK:
============================================================
Total NaN values per column:
id                      785
Datum                     0
Warengruppe             785
Umsatz                  785
Bewoelkung               71
Temperatur               16
Windgeschwindigkeit      16
Wettercode             2538
KielerWoche            9869
dtype: int64

==============================
Columns with NaN values:
==============================
id: 785 NaN values (7.76%)
Warengruppe: 785 NaN values (7.76%)
Umsatz: 785 NaN values (7.76%)
Bewoelkung: 71 NaN values (0.70%)
Temperatur: 16 NaN values (0.16%)
Windgeschwindigkeit: 16 NaN values (0.16%)
Wettercode: 2538 NaN values (25.08%)
KielerWoche: 9869 NaN values (97.53%)

==============================
Data types of all columns:
==============================
id                     float64
Datum                   object
Warengruppe            float64
Umsatz                 float64
Bewoelkung             float64
Temperatur             float64
Windgeschwindigkeit    float64
Wettercode             float64
KielerWoche            float64
dtype: object